html,
body {
  background-image: url("./animals-background-turtle3.jpg");
}

.imgCells{
  /*max-width: 10vw;
  max-height: 10vh;*/
  width:100px;
  height:100px;
  object-fit:scale-down;
}

table th {
  width: 100%;
}

tr {
  display: flex;
  justify-content: center;
  width: 100%
 }

 td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
 }