/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #868686;
}
 
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /*causes bg image to not move when scrolling*/
  overflow: auto;
  background-color: #aaa; /* main bg color */
  justify-content: center;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #262626; /* main text color */
  text-shadow: 0 .05rem .1rem rgba(38, 38, 38, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 55em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(38, 38, 38, .75);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(38, 38, 38, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #262626;
  border-bottom-color: #262626;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  justify-content: center;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.cover-heading {
  text-align: center;
}

.centered-welcome {
  height: 60%;
}

.opaque{
  background-color: #fff;
  /* opacity: 80%;
  filter: opacity(80%);
  -webkit-filter: opacity(80%); */
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

/*
 * Table
 */
 table {
   width: 100%;
 }

 .table.td-vertical-center>tbody>tr>td {
  vertical-align: middle;
}

 .table.th-vertical-center>thead>tr>th {
  vertical-align: middle;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(38, 38, 38, .5);
}
