
body {
  height: 100%;
  background-image: url("./bighorn-rams.jpg");
  background-position: left;
  background-size: cover;
  background-color: #333; /* main bg color */
}
/*header div h3 {
  max-width: 42em;
}
header div nav a {
  max-width: 42em;
}
.cover-container {
  max-width: 100%;
}*/
