
body {
    height: 100%;
    background-image: url("./vietnam.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333; /* main bg color */
  }
  
.imgCells{
    width:100px;
    height:100px;
    object-fit:scale-down;

 }


