
html,
body {
  height: 100%;
  background-image: url("./nature-forest-trees-fog.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #333; /* main bg color */
}

/*.table {
  position: relative;
  height: 50%;
  width: 100%;
  overflow: auto;
  display: block;
}*/
